body {margin:0px;background-color:#effdfd;}
.firstdiv{background-color:#cffffe;height:600px;width:100%;margin:0px;font-family: 'Parisienne', cursive;
    height: 125%;}
.clouds{height:132px;width:212px;position:relative;left:10%;display: inline-block;width: 300px;left: 80px;}
.hills{position: relative;left:0%;top:60%;width:100%;height:16%;margin:0;height: 325px;}
.shivam{border-radius: 100%;height: 225px;width: 225px;margin-left: 40%;}
hr{border-style:none;border-top-style:dotted ;width:20%;height:1% ;border-width:10px;border-color:#686d76}
.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-left: 45%;
}
.myButton:hover {
	background-color:rgb(7, 226, 55);
}
.myButton:active {
	position:relative;
	top:1px;
}

